.swiper,
.swiper-wrapper {
  width: 100%;
}

.swiper-wrapper {
  display: flex !important;
  flex-direction: row !important;
  align-items: stretch !important;
}

.swiper-button-disabled {
  opacity: 0 !important;
  pointer-events: none;
}
