/* AdminLayout.css */
.admin-container {
    min-height: calc(100vh); /* 헤더 높이만큼 빼기 */
}

.admin-row {
    min-height: inherit;
}

.admin-sidebar {
    min-height: 100%;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}