.custom-table {
    width: 100%; /* 테이블 너비를 부모 컨테이너에 꽉 채우도록 설정 */
    table-layout: fixed; /* 👈 중요: 셀 너비를 고정된 비율로 설정 */
    border-collapse: collapse;
}

.custom-table th {
    padding: 8px 5px; /* 내부 여백을 줄여 공간 확보 */
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Option A: 폰트 크기를 화면 너비(Viewport Width)에 따라 유동적으로 설정 */
.custom-table th {
    /* 1vw는 뷰포트 너비의 1%입니다. */
    font-size: clamp(8px, 1.2vw, 18px);
}

.custom-table td {
    /* 1vw는 뷰포트 너비의 1%입니다. */
    font-size: clamp(8px, 1.2vw, 16px);
}

.custom-table td button {
    /* 1vw는 뷰포트 너비의 1%입니다. */
    font-size: clamp(8px, 1.2vw, 16px);
}

.select-bg {
    background-color: #ebebebff;
}